@import '~antd/dist/antd.css';

.txt {
  font-size: 3em;
  color:rgb(5, 34, 85);
  display: inline-block;
  margin-top:50px;
  margin-left:60px; 
}

.ProgressB{
  margin-left: 35%;
  margin-bottom:45px;
  width:250px;
     
}