@import '~antd/dist/antd.css';

body {
  
  font-family: sans-serif;
  text-align: left;
}

.txt {
  font-size: 3em;
  color:rgb(5, 34, 85);
  display: inline-block;
  margin-top:50px;
  margin-left:60px;

  
}



.btn{
  margin-top:50px;
  margin-left:60%;
}

.ProgressB{
  margin-left: 35%;
  margin-bottom:45px;
  width:250px;
     
}